.hide {
    display: none;
  }

  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  body {
   /* --hue: var(--hue-neutral); */
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }

  .container {
    width: 800px;
    max-width: 80%;
    padding: 10px;
    margin:auto;
    text-align: center;
  }

  .btn{
      width: 250px;
      background-color: #13AADC;
      border: none;
      text-align: center;
      font-size: large;
      padding: 15px 32px;
      border-radius: 5px;
      display: block;
      margin: auto;
      margin-block: 15px;
      align-content: center;
      justify-content: center;
  }

  .message-container-success{
      margin: auto;
    width: 800px;
    max-width: 80%;
    background-color: rgb(60, 255, 0);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

  .message-container-warning{
    margin: auto;
  width: 800px;
  max-width: 80%;
  background-color: #ff9d00;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  }

  .grid-config-container{
    display: grid;
    grid-template-columns: auto auto ;
    align-self: center;
    width: min-content;
    margin: 0 auto;
  }

  .grid-config-option-container{
    text-align: left;
    min-width: fit-content;
    white-space: nowrap;
    padding-right: 5px;
  }

  .grid-config-checkbox-container{
    display: flex;
    justify-content: right;
    align-items: right;
    padding-left: 5px;
  }

  
